/* Default CSS start */
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-weight: 400;
  background-color: #121212;
  color: #eeeeee;
  transition: 0.7s ease-in-out;
}
.highlight {
  background-color: #181818;
  color: #dbb3fe;
}
a,
li,
button,
ul {
  line-height: normal;
  text-decoration: none;
}
a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: #dbb3fe;
}
/* Default CSS End*/

/* Spotify Start*/
.spotify-track {
  display: flex;
  flex-direction: row;
  background: #181818;
  border-radius: 10px;
  width: 340px;
  padding: 5px;
}
.song-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  float: right;
  width: calc(80% - 10px);
}
.song-title {
  font-size: medium;
  font-weight: 700;
}
.song-artist {
  font-weight: 500;
  margin-bottom: 4px;
}
.song-img {
  width: 20%;
  float: left;
}
.song-img img {
  width: 100%;
  border-radius: 5px;
}